.portfolio { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    padding: .5em;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    }
  .portfolio > img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }