.portfolio { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.portfolio > img {
  width: 100%;
  max-width: 200px;
  height: auto;
}
.portfolio > img:not(:last-child){ 
  margin-right: 10vw;
}